#genrePictures{
  width:50%;
  height:50%;
}

.bandImg{
  width:100px;
  height:100px;
  align-content: center;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:6px;
}

.oneBand{
  border: 3px solid #E27C00;
  margin:10px;
  padding:10px;
  background-color: #004196;
  border-radius: 25px;
}

.bandButton{
  border-radius: 10px;
  padding:5px;
  border: none;
  color:white;
  background-color: #E27C00;
}



.bandText{
	font-family: 'Varela Round', sans-serif;
	color: #FFFCFD;
}

.bandText{
  font-family: 'Varela Round', sans-serif;
  color: #FFFCFD;
}


button{
	margin-auto: 5px;
}

