.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

h1, h2, h3, title, li, .btn, a {
	font-family: 'Monda';
  color: #EEE5E9;
}

.modal-content, .modal-dialog, .modal-lg {
  background-color: #7C7C7C;
}

body{
  background-color: #0a0a0a;
}
